.jhjk_james_header { width:100%; height:301px; display:block; position:relative; background: #fff url('/sthemes/0/img/logo-bg.png') repeat-x; }
.jhjk_james        { width:800px; height:266px; display:inline-block; position:relative; }
.jhjk_james_logo   { width:350px; height:266px; display:block; position:relative; }
.jhjk_james_links  { width:400px; height:201px; display:inline-block; position:relative; }
.jhjk_james_link   { display:block; position: relative; font-family:Verdana; font-size:10pt; color:#000; float: left;}
.jhjk_james_icon   { vertical-align: text-top; }
.jhjk_james_sep    { display:block; position:relative; float:left; width:10px; }

A.hack_button { color:#666; font-family:arial; font-size:10pt; font-weight:bold; padding:6px 24px; text-decoration:none; box-shadow:inset 0px 1px 0px 0px #ffffff; background-color:#ffffff; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; border:1px solid #dcdcdc; display:inline-block; }
A.hack_button:link { color:#666; }
A.hack_button:visited { color:#666; }
A.hack_button:hover { background-color:#f6f6f6; color:#000; }
A.hack_button:active { position:relative; top:1px; color:#000; }
.hack_icon { vertical-align: text-top; border: 0; }

/*
----------------------------------------------------------------------

ZEMPIRE // INDEX - Style Sheet

----------------------------------------------------------------------
*/

/* INDEX SECTION */
.z_index_table_0      { width:800px; height:auto; display:block; position:relative; background: #555; border-style: ridge; border-width: 5px; }
.z_index_table_wrap   { width:600px; height:100px; display:block; position:relative; overflow:auto; background: #fff; border-color: #cdcdcd; border-style: inset; border-width: 2px; }
.z_index_table_td0a   { width:700px; display:block; font-family:Tahoma; font-size:12pt; color:#fff; text-align:left; }
.z_index_table_td0b   { width:700px; display:block; font-family:Tahoma; font-size:10pt; color:#000; text-align:left; }
.z_index_table_td0c   { width:700px; display:block; font-family:Tahoma; font-size:12pt; color:#fff; text-align:center; padding:15px 0px 15px 0px; }
.z_index_table_tdgap  { width:700px; height:50px; }
.s_account_form_input0  { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:200px; }
.s_account_form_submit0 { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:100px; height:35px; }

/*
----------------------------------------------------------------------

ZEMPIRE // ABOUT - Style Sheet

----------------------------------------------------------------------
*/

/* ABOUT SECTION */
.z_about_table_1      { width:800px; height:auto; display:block; position:relative; }
.z_about_table_wrap   { width:725px; display:block; position:relative; overflow:auto; background: #fff; border-style: dashed; border-width: 2px; text-decoration:none; font-family:Tahoma; font-size:10pt; text-align:left; }
.z_about_table_td0a   { width:700px; display:block; font-family:Tahoma; font-size:12pt; color:#000; text-align:left; }
.z_about_table_td0b   { width:700px; display:block; font-family:Tahoma; font-size:10pt; color:#000; text-align:left; }
.z_about_table_td0c   { width:700px; display:block; font-family:Tahoma; font-size:12pt; color:#000; text-align:center; padding:15px 0px 15px 0px; }
.z_about_table_tdgap  { width:700px; height:50px; }

----------------------------------------------------------------------

ZEMPIRE // SHIELD - Style Sheet

----------------------------------------------------------------------
*/

/* THANKS SECTION */
.s_shield_table_0      { width:300px; display:block; position:relative; border:0;  font-family:tahoma; font-size:10pt; color:#FFF; }
.s_shield_table_tr0a   { display:block; position:absolute; top:20px; left:50px; font-family:Tahoma; font-size:10pt; color:#c0c0c0; }

/* TIMEBAN SECTION */
.s_shield_table_1      { width:500px; display:block; position:relative; }
.s_shield_table_tr1a   { display:block; position:absolute; top:185px; left:0px; font-family:Tahoma; font-size:12pt; color:#FFF; text-align:center; }
.s_shield_table_tr1b   { display:block; position:absolute; top:20px; left:200px; }
.s_shield_table_tr1c   { display:block; position:absolute; top:0px; left:0px; font-family:Tahoma; font-size:10pt; color:#b9cc17; }
.s_shield_table_tr1d   { display:block; position:absolute; top:320px; left:0px; font-family:Tahoma; font-size:10pt; color:#c0c0c0; }

/* LOGIN SECTION */
.s_shield_table_2      { width:500px; height:350px; display:block; position:relative; border:0;  font-family:tahoma; font-size:10pt; color:#FFF; }
.s_shield_table_tr2a   { display:block; position:absolute; top:320px; left:10px; font-family:Tahoma; font-size:8pt; color:#c0c0c0; }
.s_shield_table_tr2b   { display:block; position:absolute; top:300px; left:10px; font-family:Tahoma; font-size:10pt; color:#FFF; }
.s_shield_table_tr2c   { display:block; position:absolute; top:300px; left:400px; }
.s_shield_table_td2a   { display:block; position:absolute; top:120px; left:80px; text-align:right; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td2b   { display:block; position:absolute; top:115px; left:200px;  font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td2c   { display:block; position:absolute; top:160px; left:80px;  text-align:left; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td2d   { display:block; position:absolute; top:155px; left:200px;  text-align:left; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_form_input2  { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:200px; }
.s_shield_form_submit2 { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:100px; height:35px; }

/* REGISTER SECTION */
.s_shield_table_3      { width:500px; height:350px; display:block; position:relative; border:0;  font-family:tahoma; font-size:10pt; color:#FFF; }
.s_shield_table_tr3a   { display:block; position:absolute; top:320px; left:10px; font-family:Tahoma; font-size:8pt; color:#c0c0c0; }
.s_shield_table_tr3b   { display:block; position:absolute; top:300px; left:10px; font-family:Tahoma; font-size:10pt; color:#FFF; }
.s_shield_table_tr3c   { display:block; position:absolute; top:300px; left:400px; }
.s_shield_table_td3a   { display:block; position:absolute; top:120px; left:80px; text-align:right; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td3b   { display:block; position:absolute; top:115px; left:200px;  font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td3c   { display:block; position:absolute; top:160px; left:80px;  text-align:left; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td3d   { display:block; position:absolute; top:155px; left:200px;  text-align:left; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_form_input3  { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:200px; }
.s_shield_form_submit3 { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:100px; height:35px; }

/* VERIFY SECTION */
.s_shield_table_4      { width:500px; height:350px; display:block; position:relative; border:0;  font-family:tahoma; font-size:10pt; color:#FFF; }
.s_shield_table_tr4a   { display:block; position:absolute; top:200px; left:200px; font-family:Tahoma; font-size:8pt; color:#c0c0c0; width:200px; }
.s_shield_table_td4a   { display:block; position:absolute; top:120px; left:80px; text-align:right; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td4b   { display:block; position:absolute; top:115px; left:200px;  font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td4c   { display:block; position:absolute; top:160px; left:80px;  text-align:left; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td4d   { display:block; position:absolute; top:155px; left:200px;  font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td4e   { display:block; position:absolute; top:300px; left:400px; }
.s_shield_form_input4  { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:200px; }
.s_shield_form_submit4 { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:100px; height:35px; }

/* NULLIFY SECTION */
.s_shield_table_5      { width:500px; height:350px; display:block; position:relative; border:0;  font-family:tahoma; font-size:10pt; color:#FFF; }
.s_shield_table_tr5a   { display:block; position:absolute; top:200px; left:200px; font-family:Tahoma; font-size:8pt; color:#c0c0c0; width:200px; }
.s_shield_table_td5a   { display:block; position:absolute; top:120px; left:80px; text-align:right; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td5b   { display:block; position:absolute; top:115px; left:200px; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td5c   { display:block; position:absolute; top:160px; left:80px; text-align:left; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td5d   { display:block; position:absolute; top:155px; left:200px; font-family:Tahoma; font-size:12pt; color:#FFF;}
.s_shield_table_td5e   { display:block; position:absolute; top:300px; left:400px; }
.s_shield_form_input5  { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:200px; }
.s_shield_form_submit5 { display:block; font-family:Tahoma; font-size:10pt; color:#000; background-color:#c0c0c0; width:100px; height:35px; }

/* LOGOUT SECTION */
.s_shield_table_6      { width:300px; display:block; position:relative; }
.s_shield_table_tr6a   { display:block; position:absolute; top:185px; left:0px; font-family:Tahoma; font-size:10pt; color:#c0c0c0; }
.s_shield_table_tr6b   { display:block; position:absolute; top:20px; left:110px; }

/* TRAP SECTION */
.s_shield_table_7      { width:500px; display:block; position:relative; }
.s_shield_table_tr7a   { display:block; position:absolute; top:185px; left:40px; font-family:Tahoma; font-size:12pt; color:#FFF; text-align:center; }
.s_shield_table_tr7b   { display:block; position:absolute; top:20px; left:200px; }
.s_shield_table_tr7d   { display:block; position:absolute; top:320px; left:0px; font-family:Tahoma; font-size:10pt; color:#c0c0c0; }

/*
----------------------------------------------------------------------

ZEMPIRE // BUGNET - Style Sheet

----------------------------------------------------------------------
*/

/* BUGNET SECTION */
.z_bugnet_table_0      { width:800px; height:auto; display:block; position:relative; }
.z_bugnet_table_wrap   { width:725px; display:block; position:relative; overflow:auto; background: #fff; border-style: dashed; border-width: 2px; }


.z_list         { width:100%; }
.z_list_icon    { vertical-align:text-top; float:left; border: 0;}
.z_list_div     { float:left; display:inline-block; position:relative; padding:3px 25px 3px 0; font-family:Tahoma; font-size:10pt; text-align:left; }
.z_list_link    { text-decoration:none; font-family:Tahoma; font-size:10pt; text-align:left; }
.z_list_textbox { text-decoration:none; font-family:Tahoma; font-size:10pt; text-align:left; width:600px; height:100px;}

.jhjk_third_hack { position:absolute; z-index:999; float:right; }
.jhjk_third_party { display:block; position:absolute; top:0px; left:0px; width:100%; height:100%; }

/*
----------------------------------------------------------------------

ZEMPIRE // TICKET - Style Sheet

----------------------------------------------------------------------
*/

/* REPORT SECTION */
.z_ticket_table_0    { width:500px; height:auto; display:block; position:relative; border:2px solid #cdcdcd; padding: 25px 10px 25px 10px;}
.z_ticket_table_td0a { width:480px; display:block; font-family:Tahoma; font-size:12pt; color:#000; text-align:left; }

/*
----------------------------------------------------------------------

ZEMPIRE // MAIL - Style Sheet

----------------------------------------------------------------------
*/

.s_mail_form_textarea { background-color:#fff; width:600px; position:relative; float:left; text-align:left; font-family:verdana; font-size:10pt; color:#000; height:100px; }